@import "mixins";
#poker-game{

  h1.name{
    font-size: 30px;
    margin-bottom: 15px;
  }

  .results{
    border-top: 1px solid #E3DACE;

    .three{
      float: left;
      padding: 12px;
      font-size: 16px;
      color: #666666;
      @include global_font;
    }

    .nine{
      float: left;

      .carts{

        .cart{
          float: left;
          text-align: center;
          margin: 10px;
          font-size: 12px;
          font-weight: 800;



          a{
            width: 40px;
            height: 50px;
            display: block;
            text-align: center;
            padding-top: 16px;
            font-size: 16px;
            color: #000;
            @include global_font;

            &.active{
              background: transparent url('../images/estimation-game/cart.png') no-repeat center center;
              opacity: 1;
            }

            &.off{
              background: transparent url('../images/estimation-game/cart.png') no-repeat center center;
              opacity: 0.5;
            }

            &.displayed{
              background: transparent url('../images/estimation-game/show-cart.png') no-repeat center center;
            }

          }

          &.showed{
            h1{
              color: #C21128;
            }
          }

        }
      }
    }
  }

  #play-place{
    padding: 10px 0;
    border-top: 1px solid #E3DACE;

    h3{
      font-size: 18px;
      color: #666;
      padding: 0 0 10px 30px;
    }


    .stories-information{
      padding: 0;

      h3{
        background: transparent url('../images/games/title-games.png') no-repeat left -1px;
      }

      .list{
        border-top: 1px solid #E3DACE;
        border-right: 1px solid #E3DACE;
        padding: 10px 10px 0 0;

        .item{
          padding: 10px;
          border: solid 1px #DFD4C7;
          margin: 5px 0;
          @include global_font;
          font-size: 12px;
          color: #999;

          a{
            border: none;
          }

          &:hover{
            background: #fff;
          }
          .delete{
            float: right;
            height: 10px;
            width: 10px;
            display: block;
            background: transparent url('../images/games/delete.png') no-repeat center center;
            border: none;
            margin: 1px 8px 0 8px;
            cursor: pointer;
          }
          .points{
            float: right;
            height: 34px;
            width: 34px;
            float:right;
            display: block;
            background: #000;
            border: none;
            margin-top: -8px;
            cursor: pointer;
            color: #fff;
            margin-top: -11px;
            margin-right: -10px;
            text-align: center;
            padding-top: 10px;
            font-size: 12px;
          }
          .user{
            float: right;
            display: block;
            border: none;
            margin: 1px 8px 0 8px;
            cursor: pointer;
            @include global_font;
            font-size: 12px;
            color: #999;
          }
          &.finished{
            background: #B5BDAB;
            color: #000;
          }

        }
        .pointer{
          background: #FFF;
          padding: 10px 350px 10px 10px;
          border: solid 1px #DFD4C7;
          margin: 5px 0;
          @include global_font;
          font-size: 12px;
          color: #999;
          z-index: 10000;
          a{
            border: none;
          }
        }
      }
    }

    .description-information{
      @include global_font;
      
      .play{
        float: right;
        margin-bottom: 5px;
      }

      .display-description{
        color: #CCC;
        border: 1px solid #E3DACE;
        background: #fff;
        height: auto;
        min-height: 300px; 
        padding: 1.5em;
        width: 100%;
      }

      .bold-text{
        font-weight: bold;
        text-align: right;
      }
    }

    .time{

      display: none;

      p{
        padding: 0 0 10px 30px;
        font-size: 26px;
        color: #C11127;
        float: right;
        text-align: right;
        background: transparent url('../images/estimation-game/clock.png') no-repeat left center;
      }

      #arena
       li.ca{
         background: transparent url('../images/estimation-game/cart-bg.png') no-repeat center center;
         width: 90px;
         height: 125px;
         display: block;
         text-align: center;
         padding-top: 50px;
         font-size: 40px;
         color: #000;
         @include global_font;
         float:left;
         margin: 10px;
         &.selected{
           background: transparent url('../images/estimation-game/cart-sel.png') no-repeat center center;
           color: #FFF;
           text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #000, 0 0 7px #000, 0 0 8px #000, 0 0 10px #000, 0 0 15px #000;
         }
       }
    }

    .chat-information{
      border-bottom: 1px solid #E3DACE;
      margin-bottom: 15px;

      h3{
        background: transparent url('../images/estimation-game/people.png') no-repeat left center;
      }

      input{
        min-width: 123px; 
        width: 80%;
      }
    }
  }

}
