@import "compass/css3/border-radius";
@import "mixins";

body {
  background-color: #fff;
  h1, h2, h3, h4, li, p {
    @include global_font
  }
  .row{
    width: 940px;
  }
  .top-bar{
    .row{
      ul{
        li.name {
          & > * {
            float: left;
          }
          h1{
            a{
              font-size: 30px;
              color: #C70A2B;
              font-weight: 800;
              span{ color: #fff;}
            }
          }
          .slog{
            padding: 7px 0;
          }
          .logo{
            a{
              margin: 0;
              padding: 0;
            }
          }
        }
      }
      #navigator{
        li {
          a{
            font-size:18px;
            img{
              margin: 10px 5px 0 0;
              float: left;
            }
            &:hover{color: #F9A73F;}
            &.logout{
              img{
                margin-top: 7px;
              }
            }
          }
          .dropdown{
            padding: 0;
            li.item{
              a{
                padding-top: 10px;
                padding-bottom: 10px;
                font-size: 14px;
                font-weight: 400;
              }
              padding: 0;
            }
          }
        }
      }
      // .top-bar ul > li.has-dropdown .dropdown li
    }
  }
}

.footer{
  background: #3F3F3F;
  color: #fff;
}
.hide{
  display: none;
}
//navbar style
.item{
  a{
    color:#fff;
    display:block;
    border-bottom: 1px solid rgba(0, 0, 0, 1) ; 
    border-top: 1px solid rgba(204, 204, 204, .3) ; 
  }

}
.login-form-content{
  p{
    padding: 14px;
    color: #F18D05;
    padding-top: 0;
    i{
      color: #2284A1;
    }
  }
  #login-form{
    width: 300px;
    padding: 10 20px;
    margin: 20px;
  }
}
