@import "compass/css3/border-radius";
@import "mixins";

body {
  background-color: #fff;
  h1, h2, h3, h4, li, p {
    @include global_font;
  }
  .row{
    width: 940px;
  }
  .top-bar{
    .row{
      ul{
        li.name {
          & > * {
            float: left;
          }
          h1{
            a{
              font-size: 30px;
              color: #C70A2B;
              font-weight: 800;
              span{ color: #fff;}
            }
          }
          .slog{
            padding: 7px 0;
          }
          .logo{
            a{
              margin: 0;
              padding: 0;
            }
          }
        }
      }
      #navigator{
        li {
          a{
            font-size:18px;
            img{
              margin: 10px 5px 0 0;
              float: left;
            }
            &:hover{color: #F9A73F;}
            &.logout{
              img{
                margin-top: 7px;
              }
            }
          }
          .dropdown{
            padding: 0;
            li.item{
              a{
                padding-top: 10px;
                padding-bottom: 10px;
                font-size: 14px;
                font-weight: 400;
              }
              padding: 0;
            }
          }
        }
      }
    }
  }
}

.footer{
  background: #3F3F3F;
  color: #fff;
}
.hide{
  display: none;
}
//navbar style
.item{
  a{
    color:#fff;
    display:block;
    border-bottom: 1px solid rgba(0, 0, 0, 1) ; 
    border-top: 1px solid rgba(204, 204, 204, .3) ; 
  }

}
.login-form-content{
  p{
    padding: 14px;
    color: #F18D05;
    padding-top: 0;
    i{
      color: #2284A1;
    }
  }
  #login-form{
    width: 300px;
    padding: 10 20px;
    margin: 20px;
  }
}



 // --------------------------------- landing page
 #main-content.row{
   .container{
     .side-nav.steps{
       li{
         height: 225px;
         width: 225px;
         float: left;
         margin: 1px;
         text-align:center;
         &.one-sq{
           background: #B4BDAD url('../images/landing-page/one.png') no-repeat 15px 10px;
         }
         &.two-sq{
           background: #FAA83F url('../images/landing-page/two.png') no-repeat 15px 10px;
         }
         &.three-sq{
           background: #DFD4C9 url('../images/landing-page/three.png') no-repeat 15px 10px;
         }
         &.four-sq{
           background: #C70A2B url('../images/landing-page/four.png') no-repeat 15px 10px;
         }
         span{
           margin: 0 auto;
           height: inherit;
           width: inherit;
           display: table-cell;
           vertical-align: middle;
           font-size: 40px;
           font-weight: 800;
           color: #fff;
           cursor: pointer;
           @include global_font;
           .small {
             display: block;
             height: auto;
             width: auto;
               font-size: 30px;
             .more{
               font-size: 40px;
             }
           }
         }
         .info{
           @include global_font;
           text-align: left;
           padding: 15px;
           color: #fff;
           font-size: 17px;
           h3{
            font-size: 13px;
            font-weight: bold;
            margin: 0 0 24px 24px;
            color: #FFF;
           }
           p {
             text-align:justify;
             padding:10px;
             span{
               font-size:17px;
               font-weight:bold;
             }
           }
         }
       }
     }
   }
   #work-area{
     .title{
       color: #C01126;
       font-size: 27px;
       @include global_font;
       padding-bottom: 5px;
       margin-top: 20px;
       border-bottom: 4px solid #000;
       span{
         font-size: 13px;
       }
     }
     #log-form{
       margin-top: 30px;
       padding: 15px;
       input[type=text], input[type=password]{
         height: 55px;
         @include global_font;
         font-size: 24px;
         padding: 0 15px;
       }
       input.button{
         @include global_font;
         background: #FAA83F;
         float: right;
         margin-top: 20px;
         border: 1px solid #FCD39E;
         &:hover{
           background: #E39737;
         }
       }
       label{
         @include global_font;
         font-size: 30px;
         font-weight: 800;
         margin-bottom: 5px;
       }
       .sign{
         a{
           font-size: 16px;
           color: #DFD3C7;
           font-weight: 800;
           @include global_font;
           float: right;
         }
       }
     }
     .fot{
       padding: 15px;
       padding-top: 10px;
       border-top: 4px solid #000;
       margin-top: 10px;
       .image-fot{
         background: #fff url('../images/landing-page/graph-footer.png') repeat-x;
         height: 50px;
       }
     }
     #projects{
       .titles, .project{
         font-size: 16px;
         @include global_font;
         font-weight: 800;
         .six, .three, .two{
           float: left;
         }
       }
       .titles{
         margin-left: 0px;
       }
       .project{
         padding: 10px 0;
         color: #999999;
         img{
           margin-right: 5px;
           float:left;
         }
       }
     }
   }
 }

.clear{
  clear: both;
}
