#main-content.row
  #projects
  .action-panel
    button Create Game 
    input{type="text"}
  .container

    .row
      .six.columns
        ul.side-nav
          li
            a(href='#') Section 1
          li
            a(href='#') Section 2
          li
            a(href='#') Section 3
          li
            a(href='#') Section 4

      .six.columns
        include login-form






