#main-content.row
  .action-panel(hidden='true')
    input(type="text", class='fn-game-name', placeholder="Name Game")
    input(class="fn-createGame", type="button", value="Create Game")
  .container

    .row
      .six.columns
        ul.side-nav.steps
          li.one-sq.box
            .box-title Login
            .box-info
              | In order to use this App you would need a Pivotal Tracker Account to fetch all your projects. Otherwise, you should i create one.

          li.two-sq.box
            .box-title Choose a Project
            .box-info Once you have logged in you will be able to navigate between projects on the Top Navigator or on the right side of this square create one.

          li.three-sq.box
            .box-title Create or Select a Game
            .box-info After selected a project you can create or select games. This is another name for the iteration occurred during a sprint planning meeting. Here you can assign unestimated stories to a game create one.

          li.four-sq.box
            .box-title Play
            .box-info Wait for all the participants, start the game and PLAY! 

      .six.columns#work-area
        - if(user) 
          input(id="user_logged_in", type="hidden", value="true")
          .row.title PROJECTS
          .row#projects
            // this content is for the projects template
            .project-items
          .row.fot 
            .image-fot

        - else
          input(id="user_logged_in", type="hidden", value="false")
          .row.title LOGIN 
            span WITH YOUR 
            r PIVOTAL TRACKER 
            span ACCOUNT
          .row#log-form
            include login-form
          .row.fot 
            .image-fot
