#main-content.row
  .action-panel
    button Create Game 
    input{type="text"}
  .container
    aside.games
    section.list-tasks
    input(type="checkbox", checked=0)

.row
  .three.columns
    ul.side-nav
      li
        a(href='#') Section 1
      li
        a(href='#') Section 2
      li
        a(href='#') Section 3
      li
        a(href='#') Section 4
      li
        a(href='#') Section 5
      li
        a(href='#') Section 6
    p
      img(src='http://placehold.it/320x240&text=Ad')
  .nine.columns ijdaisjdi
