.footer
  footer.row
    .twelve.columns
      .row
        .six.columns
          p TangoSource Team, Poker Planning. © Copyright. 
        .six.columns
          ul.link-list.right
            li
              a(href='#') Section 1
            li
              a(href='#') Section 2
            li
              a(href='#') Section 3
            li
              a(href='#') Section 4
