#game-container.row
  h1.name Project Name

  .container.row
    #list-games.three
      .head
        h1 GAMES
        a.tiny.alert.button(href="#") Add +
        .clear
      
      ul.list
        li.item.closed Game Name
          a.delete
        li.item.closed Game Name
          a.delete
        li.item.active Game Name
          a.play
          a.delete
          a.edit
        li.item.opened Game Name
          a.play
          a.delete
          a.edit
          ul.list-tasks-group
            li.task Task Name
              a.delete
            li.task Task Name
              a.delete
            li.task Task Name
              a.delete
            li.task Task Name
              a.delete
      input.nametask(type="text", name="nametask", placeholder="Name of your task...")

    #list-tasks.nine 
      .head
        h1.four STORIES
        nav.eight
          a.tiny.alert.button(href="#") Select All
          a.tiny.alert.button(href="#") Unselect All
          input#filter(type="text", name="nametask", placeholder="Filter")

      ul.list
        li.item.four task 1
          a.drag
        li.item.four task 2
          a.drag
        li.item.four task 3
          a.drag
        li.item.four task 4
          a.drag
        li.item.four task 5
          a.drag
        li.item.four task 6
          a.drag
        li.item.four task 7
          a.drag
        li.item.four task 8
          a.drag
        li.item.four task 1
          a.drag
        li.item.four task 1
          a.drag
        li.item.four task 1
          a.drag
        li.item.four task 2
          a.drag
        li.item.four task 3
          a.drag
        li.item.four task 4
          a.drag
        li.item.four task 5
          a.drag
        li.item.four task 6
          a.drag
        li.item.four task 7
          a.drag
        li.item.four task 8
          a.drag
        li.item.four task 2
          a.drag
        li.item.four task 3
          a.drag
        li.item.four task 4
          a.drag
        li.item.four task 5
          a.drag
        li.item.four task 6
          a.drag
        li.item.four task 7
          a.drag
        li.item.four task 8
          a.drag
        li.item.four task 2
          a.drag
        li.item.four task 3
          a.drag
        li.item.four task 4
          a.drag
        li.item.four task 5
          a.drag
        li.item.four task 6
          a.drag
        li.item.four task 7
          a.drag
        li.item.four task 8
          a.drag
      
