#game-container.row
  h1.name Project Name

  .container.row
    #list-games.three
      .head
        h1 GAMES
        a.tiny.alert.button(href="#") Add +
        .clear
      
      ul.list.accordion
        li.game-item.closed Game Name
        li.game-item.closed Game Name
        li.game-item.active Game Name
          ul.list-tasks-group
            li.game-item Task Name
            li.game-item Task Name
            li.game-item Task Name
            li.game-item Task Name
      input(type="text", name="nametask", placeholder="Name of your task...")

    #list-tasks.nine 
      .head
        h1.four STORIES
        nav.eight
          a.tiny.alert.button(href="#") Select All
          a.tiny.alert.button(href="#") Unselect All
          input#filter(type="text", name="nametask", placeholder="Filter")
      
