.head
  header.row
      .four.columns
        a(href="/")
          img(src="images/poker-logo.png")
      .eight.columns
        ul.link-list.right
          li
            a(href="#login-form") Login
          li
            a(href="games") games
      include login-form
  
