nav.top-bar
  .row
    ul
      li.name
        h1
          a(href="/") POKER ESTIMATE’EM
    section
      ul.right
        li.has-dropdown
          a(href='#') Projects
          ul.dropdown
            li.item Project1
            li.item Project2
            li.item Project3
            li.item Project4
        li
          a(href='#') Eduardo Ruiz
        li
          a(href='#') Exit
