nav.top-bar
  .row
    ul
      li.name
        .logo
          a(href="/")
            img(src="images/logo.png")
        h1
          a(href="/") POKER 
            span ESTIMATE’EM
        .slog
          img(src="images/slog.png")
    section#navigator
      ul.right
        -if(user)
          li.has-dropdown
            a(href='#') Projects
            ul.dropdown
              li.item 
                a(href='#') project1
              li.item 
                a(href='#') project2
              li.item 
                a(href='#') project3
              li.item 
                a(href='#') project4
            li
              a(href='#') 
                img(src="images/user.png")
                span Eduardo Ruiz
          li
            a(href="/logout")
              img(src="images/exit.png")
        -else
          li.item
            a(href='#') Login
