doctype 5
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/libs/jquery.js')
    script(type='text/javascript', src='/javascripts/libs/lodash.js')
    script(type='text/javascript', src='/javascripts/libs/rivets.js')
    script(type='text/javascript', src='/javascripts/libs/backbone.js')
    script(type='text/javascript', src='/javascripts/libs/backbone.localStorage.js')
    script(type='text/javascript', src='/javascripts/main.js')
    script(type='text/javascript', src='/javascripts/fixtures.js')
    script(type='text/javascript', src='/javascripts/app/models/project.js')
    script(type='text/javascript', src='/javascripts/app/models/game.js')
    script(type='text/javascript', src='/javascripts/app/models/taskGame.js')
    script(type='text/javascript', src='/javascripts/app/collections/tasksCollection.js')
    script(type='text/javascript', src='/javascripts/app/collections/gamesCollection.js')
    script(type='text/javascript', src='/javascripts/app/collections/projectsCollection.js')
    script(type='text/javascript', src='/javascripts/router.js')
    link(href="/stylesheets/app.css", media="screen, projector, print", rel="stylesheet", type="text/css")
    link(href="/stylesheets/screen.css", media="screen, projection", rel="stylesheet", type="text/css")
    link(href="/stylesheets/print.css", media="print", rel="stylesheet", type="text/css")
    // [if IE]
        link(href="/stylesheets/ie.css", media="screen, projection", rel="stylesheet", type="text/css")

    // [endif]
  body
    block content
