doctype 5
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/libs/jquery.js')
    script(type='text/javascript', src='/javascripts/libs/lodash.js')
    script(type='text/javascript', src='/javascripts/libs/rivets.js')
    script(type='text/javascript', src='/javascripts/libs/backbone.js')
    script(type='text/javascript', src='/javascripts/main.js')
    script(type='text/javascript', src='/javascripts/router.js')
  body
    block content
