- if(user)
    p Welcome 
      i #{user.email}
    a(href="/logout") Log out
    input(id="user_logged_in", type="hidden", value="true")
- else
  input(id="user_logged_in", type="hidden", value="false")
  form(action="/login", method="post", id="login-form")
    div
      input(type="text", name="username", placeholder="Mail")
      br
      input(type="password", name="password", placeholder="Password")
      br
      input.radius.button(type="submit", value="Log In")
