script(type="text/html", id="pokerGameTemplate")
  #poker-game.row
    h1.name Game name
    .row.results
      .three Story name
      .nine
        ul.carts
          li.cart 
            a.active
            h1 NG
          li.cart 
            a.active
            h1 JVCR
          li.cart 
            a.off
            h1 PUTO
          li.cart 
            a.off
            h1 VC
          li.cart.showed
            a.displayed 2
            h1 ER
    .row#play-place
      .stories-information.four.columns 
        h3 Stories

        .clear

        ul.list

      .time.five.columns 
        p 3

        .clear

        #arena

      .chat-information.three.columns 
        h3 Chat & Participants

        .clear

        #chat
          input#message
          a.tiny.button send
          #output
        
