script(type="text/html", id="pokerGameTemplate")
  #poker-game.row
    h1.name Game name
    .row.results
      .three Story name
      .nine
        ul.carts
          li.cart 
            a.active
            h1 NG
          li.cart 
            a.active
            h1 JVCR
          li.cart 
            a.off
            h1 PUTO
          li.cart 
            a.off
            h1 VC
          li.cart.showed
            a.displayed 2
            h1 ER
    .row#play-place
      .stories-information.four.columns 
        h3 Stories

        .clear

        ul.list
          li.item.finished Story one
            .points 3
            a.delete
            a.user ER
          li.item Story two
            a.delete
            a.user JR
          li.item Story three
            a.delete
            a.user JG


      .time.five.columns 
        p.timer 0

        .clear

        ul#arena
          li.ca 0
          li.ca 1
          li.ca 2
          li.ca 3
          li.ca 5
          li.ca 8
          li.ca 13

      .chat-information.three.columns 
        h3 Chat & Participants

        .clear

        #chat
          input#message
          a.tiny.button send
          #output
        
