script(type="text/html", id="projects-list")
  input(id="user_logged_in", type="hidden", value="true")
  .row.title PROJECTS
  .row#projects
    // this content is for the projects template
    .project-items
  .row.fot 
    .image-fot
