/* line 2, ../sass/games.scss */
#game-container h1.name {
  font-size: 30px;
  margin-bottom: 30px;
}
/* line 6, ../sass/games.scss */
#game-container .container.row {
  width: 940px;
  margin: 0 auto;
}
/* line 9, ../sass/games.scss */
#game-container .container.row .head {
  border: 1px solid #ccc;
  overflow: hidden;
}
/* line 12, ../sass/games.scss */
#game-container .container.row .head h1 {
  float: left;
  line-height: 22px;
  font-size: 18px;
}
/* line 18, ../sass/games.scss */
#game-container .container.row #list-games {
  float: left;
}
/* line 20, ../sass/games.scss */
#game-container .container.row #list-games h1 {
  padding-left: 30px;
  background: transparent url("../images/games/title-games.png") no-repeat left center;
}
/* line 24, ../sass/games.scss */
#game-container .container.row #list-games .head {
  border-left: none;
  padding: 7px 10px 7px 0;
}
/* line 28, ../sass/games.scss */
#game-container .container.row #list-games .button {
  float: right;
}
/* line 33, ../sass/games.scss */
#game-container .container.row #list-tasks {
  float: left;
}
/* line 35, ../sass/games.scss */
#game-container .container.row #list-tasks .head {
  border-right: none;
  padding: 5px 0 5px 10px;
}
/* line 38, ../sass/games.scss */
#game-container .container.row #list-tasks .head h1 {
  margin-top: 4px;
}
/* line 42, ../sass/games.scss */
#game-container .container.row #list-tasks nav {
  float: right;
}
/* line 44, ../sass/games.scss */
#game-container .container.row #list-tasks nav a.button {
  float: left;
  margin: 2px 5px 0 5px;
}
/* line 48, ../sass/games.scss */
#game-container .container.row #list-tasks nav #filter {
  float: right;
  width: 272px;
  margin: 0;
  height: 27px;
}
