/* line 2, ../sass/main.scss */
body {
  background-color: #fff;
}

/* line 13, ../sass/main.scss */
.footer {
  background: #3F3F3F;
  color: #fff;
}

/* line 17, ../sass/main.scss */
.hide {
  display: none;
}

/* line 21, ../sass/main.scss */
.item {
  color: #fff;
  text-align: center;
  display: block;
  height: 30px;
  border-bottom: 1px solid black;
}

/* line 30, ../sass/main.scss */
.login-form-content p {
  padding: 14px;
  color: #F18D05;
  padding-top: 0;
}
/* line 34, ../sass/main.scss */
.login-form-content p i {
  color: #2284A1;
}
/* line 38, ../sass/main.scss */
.login-form-content #login-form {
  width: 300px;
  padding: 10 20px;
  margin: 20px;
}
