/* line 4, ../sass/main.scss */
body {
  background-color: #fff;
}
/* line 6, ../sass/main.scss */
body h1, body h2, body h3, body h4, body li, body p {
  font-family: "helvetica neue",helvetica-neue , Helvetica, Arial, sans-serif;
}
/* line 9, ../sass/main.scss */
body .row {
  width: 940px;
}
/* line 16, ../sass/main.scss */
body .top-bar .row ul li.name > * {
  float: left;
}
/* line 20, ../sass/main.scss */
body .top-bar .row ul li.name h1 a {
  font-size: 30px;
  color: #C70A2B;
  font-weight: 800;
  padding: 0;
}
/* line 24, ../sass/main.scss */
body .top-bar .row ul li.name h1 a span {
  color: #fff;
}
/* line 28, ../sass/main.scss */
body .top-bar .row ul li.name .slog {
  padding: 7px 0;
}
/* line 32, ../sass/main.scss */
body .top-bar .row ul li.name .logo a {
  margin: 0;
  padding: 0;
}
/* line 41, ../sass/main.scss */
body .top-bar .row #navigator li a {
  font-size: 18px;
}
/* line 43, ../sass/main.scss */
body .top-bar .row #navigator li a img {
  margin: 10px 5px 0 0;
  float: left;
}
/* line 47, ../sass/main.scss */
body .top-bar .row #navigator li a:hover {
  color: #F9A73F;
}
/* line 49, ../sass/main.scss */
body .top-bar .row #navigator li a.logout img {
  margin-top: 7px;
}
/* line 54, ../sass/main.scss */
body .top-bar .row #navigator li .dropdown {
  padding: 0;
}
/* line 56, ../sass/main.scss */
body .top-bar .row #navigator li .dropdown li.item {
  padding: 0;
}
/* line 57, ../sass/main.scss */
body .top-bar .row #navigator li .dropdown li.item a {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
}

/* line 72, ../sass/main.scss */
.footer {
  background: #3F3F3F;
  color: #fff;
}

/* line 76, ../sass/main.scss */
.hide {
  display: none;
}

/* line 81, ../sass/main.scss */
.item a {
  color: #fff;
  display: block;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(204, 204, 204, 0.3);
}

/* line 90, ../sass/main.scss */
.login-form-content p {
  padding: 14px;
  color: #F18D05;
  padding-top: 0;
}
/* line 94, ../sass/main.scss */
.login-form-content p i {
  color: #2284A1;
}
/* line 98, ../sass/main.scss */
.login-form-content #login-form {
  width: 300px;
  padding: 10 20px;
  margin: 20px;
}

/* line 111, ../sass/main.scss */
#main-content.row .container .side-nav.steps li {
  height: 225px;
  width: 225px;
  float: left;
  margin: 1px;
  text-align: center;
}
/* line 117, ../sass/main.scss */
#main-content.row .container .side-nav.steps li.one-sq {
  background: #b4bdad url("../images/landing-page/one.png") no-repeat 15px 10px;
}
/* line 120, ../sass/main.scss */
#main-content.row .container .side-nav.steps li.two-sq {
  background: #faa83f url("../images/landing-page/two.png") no-repeat 15px 10px;
}
/* line 123, ../sass/main.scss */
#main-content.row .container .side-nav.steps li.three-sq {
  background: #dfd4c9 url("../images/landing-page/three.png") no-repeat 15px 10px;
}
/* line 126, ../sass/main.scss */
#main-content.row .container .side-nav.steps li.four-sq {
  background: #c70a2b url("../images/landing-page/four.png") no-repeat 15px 10px;
}
/* line 129, ../sass/main.scss */
#main-content.row .container .side-nav.steps li span {
  margin: 0 auto;
  height: inherit;
  width: inherit;
  display: table-cell;
  vertical-align: middle;
  font-size: 40px;
  font-weight: 100;
  color: #fff;
  cursor: pointer;
  letter-spacing: 1px;
  font-family: "helvetica neue",helvetica-neue , Helvetica, Arial, sans-serif;
}
/* line 141, ../sass/main.scss */
#main-content.row .container .side-nav.steps li span .small {
  display: block;
  height: auto;
  width: auto;
  font-size: 30px;
}
/* line 146, ../sass/main.scss */
#main-content.row .container .side-nav.steps li span .small .more {
  font-size: 40px;
}
/* line 151, ../sass/main.scss */
#main-content.row .container .side-nav.steps li .info {
  font-family: "helvetica neue",helvetica-neue , Helvetica, Arial, sans-serif;
  text-align: left;
  padding: 15px;
  color: #fff;
  font-size: 17px;
}
/* line 157, ../sass/main.scss */
#main-content.row .container .side-nav.steps li .info h3 {
  font-size: 13px;
  font-weight: bold;
  margin: 0 0 24px 24px;
  color: #FFF;
}
/* line 163, ../sass/main.scss */
#main-content.row .container .side-nav.steps li .info p {
  text-align: justify;
  padding: 10px;
}
/* line 166, ../sass/main.scss */
#main-content.row .container .side-nav.steps li .info p span {
  font-size: 17px;
  font-weight: bold;
}
/* line 176, ../sass/main.scss */
#main-content.row #work-area .title {
  color: #C01126;
  font-size: 27px;
  font-family: "helvetica neue",helvetica-neue , Helvetica, Arial, sans-serif;
  margin-top: 20px;
  border-bottom: 4px solid #000;
}
/* line 182, ../sass/main.scss */
#main-content.row #work-area .title span {
  font-size: 13px;
}
/* line 186, ../sass/main.scss */
#main-content.row #work-area #log-form {
  margin-top: 30px;
  padding: 15px;
}
/* line 189, ../sass/main.scss */
#main-content.row #work-area #log-form input[type=text], #main-content.row #work-area #log-form input[type=password] {
  height: 55px;
  font-family: "helvetica neue",helvetica-neue , Helvetica, Arial, sans-serif;
  font-size: 24px;
  padding: 0 15px;
}
/* line 195, ../sass/main.scss */
#main-content.row #work-area #log-form input.button {
  font-family: "helvetica neue",helvetica-neue , Helvetica, Arial, sans-serif;
  background: #FAA83F;
  float: right;
  margin-top: 20px;
  border: 1px solid #FCD39E;
}
/* line 201, ../sass/main.scss */
#main-content.row #work-area #log-form input.button:hover {
  background: #E39737;
}
/* line 205, ../sass/main.scss */
#main-content.row #work-area #log-form label {
  font-family: "helvetica neue",helvetica-neue , Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 5px;
}
/* line 212, ../sass/main.scss */
#main-content.row #work-area #log-form .sign a {
  font-size: 16px;
  color: #DFD3C7;
  font-weight: 800;
  font-family: "helvetica neue",helvetica-neue , Helvetica, Arial, sans-serif;
  float: right;
}
/* line 221, ../sass/main.scss */
#main-content.row #work-area .fot {
  padding: 15px;
  padding-top: 10px;
  border-top: 4px solid #000;
  margin-top: 10px;
}
/* line 226, ../sass/main.scss */
#main-content.row #work-area .fot .image-fot {
  background: white url("../images/landing-page/graph-footer.png") repeat-x;
  height: 50px;
}
/* line 232, ../sass/main.scss */
#main-content.row #work-area #projects .titles, #main-content.row #work-area #projects .project {
  font-size: 16px;
  font-family: "helvetica neue",helvetica-neue , Helvetica, Arial, sans-serif;
  font-weight: 800;
}
/* line 236, ../sass/main.scss */
#main-content.row #work-area #projects .titles .six, #main-content.row #work-area #projects .titles .three, #main-content.row #work-area #projects .titles .two, #main-content.row #work-area #projects .project .six, #main-content.row #work-area #projects .project .three, #main-content.row #work-area #projects .project .two {
  float: left;
}
/* line 240, ../sass/main.scss */
#main-content.row #work-area #projects .titles {
  margin-left: 0px;
}
/* line 243, ../sass/main.scss */
#main-content.row #work-area #projects .project {
  padding: 10px 0;
  color: #999999;
  overflow: hidden;
}
/* line 247, ../sass/main.scss */
#main-content.row #work-area #projects .project img {
  margin-right: 5px;
  float: left;
}

/* line 256, ../sass/main.scss */
.clear {
  clear: both;
}
